* {
  background-color: #deeadf;
}
.App {
  text-align: center;
  background-color: #deeadf;
  height: 100vh;
}

.card {
  background-color: beige;
}

.App-header {
  background-color: #deeadf;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Main {
  background-color: beige;
  border: solid 2px rgb(13, 6, 6);
  padding: 20%;
  margin: 10%;
  border-radius: 35px;
}

.searchbox {
  background-color: beige;
}

img {
  height: 20vh;
  width: 30vw;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
